<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Acerca de</title>
  </head>
  <body>
    <h1>Sección acerda de...</h1>
    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lectus risus, interdum id ornare ut, pellentesque nec odio. Integer velit nisi, facilisis id risus at, tempus consequat massa. Maecenas ut quam ornare, faucibus sapien eu, venenatis justo. Nam suscipit in ligula eu finibus. Duis dignissim dolor commodo posuere vestibulum. Integer sit amet urna nec est iaculis aliquet. Pellentesque eleifend condimentum ex. Praesent vitae risus vel orci suscipit aliquam in quis ante. Mauris dapibus dui sed arcu efficitur mattis. Aliquam vulputate metus vel efficitur mattis. Praesent vitae nisi eu augue cursus volutpat eleifend et magna. Nam vitae mi vel lectus condimentum dictum. Donec non luctus lectus.</p>
    <a href="/">Ir a inicio</a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>