<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Sección de productos</title>
  </head>
  <body>
    <div class="container">
      <h1>Sección de productos</h1>
      <div class="row">
        {% for item, contenido in productos.items() %}
        <div class="card" style="width: 18rem;">
          <img src="{{ contenido.photo }}" width="200px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ contenido.name }}</h5>
            <p class="card-text">ID del producto: {{ contenido.id }}</p>
            {% if contenido.stock == True %}
            <span class="badge badge-pill badge-success">Disponible</span>
            {% else %}
            <span class="badge badge-pill badge-danger">No disponible</span>
            {% endif %}
            <br><br>
            <a href="/" class="btn btn-primary">Añadir al carrito</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>