{% extends "base.html" %}
{% block content %}
    <!-- Material section -->
    <div class="container" id="material">
      <div class="row">
        <div class="col-md-12 mb-5">
          <h2>Material</h2>
          <hr>
          <p>A continuación podrás encontrar el material a utilizar durante del curso.</p>
          <h4>Software</h4>
          <a href="https://github.com/RodolfoFerro/Flask101/raw/master/static/assets/get-pip.py" target="_blank"><button type="button" class="btn btn-success">PIP</button></a>
          <a href="https://github.com/RodolfoFerro/Flask101/raw/master/static/assets/python-3.7.4-amd64.exe" target="_blank"><button type="button" class="btn btn-success">Python 3.7 p/Windows 64 bits</button></a>
          <a href="https://github.com/RodolfoFerro/Flask101/raw/master/static/assets/python-3.7.4.exe" target="_blank"><button type="button" class="btn btn-success">Python 3.7 p/Windows 32 bits</button></a>
          <a href="https://github.com/RodolfoFerro/Flask101/raw/master/static/assets/python-3.7.4-macosx10.9.pkg" target="_blank"><button type="button" class="btn btn-success">Python 3.7 p/Mac</button></a>
        </div>
        {% for item in material %}
        {% if item.visible %}
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">{{ item.title }}</h3>
              <h5 class="card-title">{{ item.subtitle }}</h5>
              <p class="card-text">{{ item.description }}</p>
            </div>
            <div class="card-footer">
              <a href="{{ item.download }}" class="btn btn-primary float-right" target="
              ">Descargar material</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
{% endblock %}